.content {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  max-height: 100vh;

  .content_img {
    display: flex;
    margin: 50px 14px 0 14px;
  }

  .conten__info_wrapper {
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    height: 478px;

    .content_info {
      flex-direction: column;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      max-height: 100%;

      padding: 30px;
      width: 400px;

      .title {
        font-size: var(--font-size24);
        font-weight: 500;
      }

      .info {
        color: var(--dark-gray);
        font-size: var(--font-size14);
        padding-bottom: 5px;
        text-transform: lowercase;
      }
      .ingredients {
        font-size: var(--font-size14);
        line-height: 20px;
      }

      .sizeGroup {
        margin-top: 8px;
        display: flex;
        position: relative;
        height: 32px;
        flex-shrink: 0;
        border-radius: 9999px;
        background-color: var(--light-gray-2);
        overflow: hidden;
        font-size: 12px;
        line-height: 32px;
        min-height: 32px;

        .selected_Size {
          position: absolute;
          top: 50%;
          left: 0;
          width: 50%;
          height: 90%;
          background-color: rgb(255, 255, 255);
          border-radius: 9999px;
          box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
          transition: transform 0.3s ease, width 0.3s ease;
          z-index: 1;
          transform: translate(0, -50%);
        }
        .sizeItem {
          display: flex;
          width: 100%;
          justify-content: center;

          input {
            display: none;
          }

          .sizeOption {
            flex: 1;
            text-align: center;
            z-index: 2;
            cursor: pointer;
            position: relative;
            user-select: none;
          }
        }
      }
    }
  }
}
