.content {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  height: 610px;
  padding: 0 16px;
  @media (max-width: 450px) {
    flex-direction: column;
    padding-top: 50px;
    position: relative;
    justify-content: flex-start;

    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
  .content_img {
    display: flex;
    margin: 50px 14px 0 14px;
    align-items: center;

    @media (max-width: 450px) {
      margin: 0;
      justify-content: center;
    }
    .image {
      width: 480px;
      height: 480px;
      object-fit: contain;

      @media (max-width: 450px) {
        width: 360px;
        height: 360px;
      }
    }
  }

  .conten__info_wrapper {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 420px;

    @media (max-width: 450px) {
      width: 100%;
    }
    .content_info {
      flex: 1;
      overflow-y: auto;
      width: 100%;
      padding: 30px;

      @media (max-width: 450px) {
        padding: 0;
      }
      .title {
        font-size: var(--font-size24);
        font-weight: 500;
      }

      .pizza_info {
        color: var(--dark-gray);
        font-size: var(--font-size14);
        padding-bottom: 5px;
        text-transform: lowercase;
      }
      .ingredients {
        font-size: var(--font-size14);
        line-height: 20px;
      }

      .sizeGroup {
        margin-top: 8px;
        display: flex;
        position: relative;
        height: 32px;
        flex-shrink: 0;
        border-radius: 9999px;
        background-color: var(--light-gray-2);
        overflow: hidden;
        font-size: 12px;
        line-height: 32px;
        min-height: 32px;

        .selected_Size {
          position: absolute;
          top: 50%;
          left: 0;
          width: 33%;
          height: 90%;
          background-color: rgb(255, 255, 255);
          border-radius: 9999px;
          box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
          transition: transform 0.3s ease, width 0.3s ease;
          z-index: 1;
          transform: translate(0, -50%);
        }
        .sizeItem {
          display: flex;
          width: 100%;
          justify-content: center;

          input {
            display: none;
          }

          .sizeOption {
            flex: 1;
            text-align: center;
            z-index: 2;
            cursor: pointer;
            position: relative;
            user-select: none;
          }
        }
      }
      .thicknessGroup {
        margin: 8px 0;
        display: flex;
        position: relative;
        height: 32px;
        flex-shrink: 0;
        border-radius: 9999px;
        background-color: var(--light-gray-2);
        overflow: hidden;
        font-size: 12px;
        line-height: 32px;
        min-height: 32px;
        z-index: 1;
        .wrapper_option {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .selected {
          position: absolute;

          top: 50%;
          left: 0;

          width: 50%;
          height: 90%;
          background-color: white;
          border-radius: 9999px;
          box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
          transition: transform 0.3s ease, width 0.3s ease;
          z-index: 1;
          transform: translate(0, -50%);
        }

        input {
          display: none;
        }

        .thicknessOption {
          flex: 1;
          text-align: center;
          z-index: 2;
          cursor: pointer;
          position: relative;
          user-select: none;
        }
      }

      .extra_content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        h3 {
          font-size: var(--font-size20);
        }
      }
    }
  }
  .cartBottomSpacing {
    margin-top: auto;
    margin-bottom: 20px;
  }

  .fixed_button_wrapper {
    .to_cart_button {
      margin: 20px 0;
      z-index: 9999;
    }
    width: 100%;
    padding: 0 20px;
    @media (max-width: 450px) {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 0 16px;
      box-sizing: border-box;
      background-color: var(--white);
      box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
    }
  }
}
