.container {
  height: 100vh;
  position: relative;
  overflow-y: hidden;

  .button {
    position: absolute;
    left: 10px;
    top: 0;
  }
  .content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
