.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 15px;
    padding: 5px 0;
    height: auto;
  }
  .gallery {
    width: 100%;
    .couple {
      display: flex;
      
      border-radius: 15px;
      flex-direction: column;
      gap: 10px;
    }

    .imgRight {
      justify-content: right;
      display: flex;
    }
  }
}
