.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: fit-content;
  height: 610px;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;

  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  transition: opacity 0.2s ease, transform 0.2s ease;

  &.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9994;
}
