.article {
  display: flex;
  justify-content: center;
  width: 290px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 100%;

  @media (max-width: 1430px) {
    width: 233px;
  }
  @media (max-width: 450px) {
    width: 100%;
    flex-direction: row;
  }
}
.image {
  width: 100%;
  max-width: 280px;
  height: auto;

  @media (max-width: 1430px) {
    max-width: 233px;
  }
  @media (max-width: 450px) {
    max-width: 135px;
  }
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(10px);
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  h3 {
    font-size: var(--font-size20);
    line-height: var(--line-height);
    padding-bottom: 10px;
  }

  p {
    font-size: var(--font-size14);
    line-height: 20px;
    color: var(--dark-gray);
  }
  @media (max-width: 450px) {
    
    
    h3 {
      font-size: var(--font-size18);
      padding: 0;
    }
    p {
      font-size: var(--font-size12);
    }
  }
}

.price_wrapper {
  display: flex;
  justify-content: space-between;
  color: var(--color);
  margin-top: 16px;
  align-items: center;

  button {
    padding: 8px 20px;
    border-radius: var(--border-radius);
    font-size: var(--font-size15);
    color: var(--color-dark-orange);
    min-width: 120px;
    line-height: 24px;
    font-weight: 600;
    background-color: var(--color-light-orange);
    transition: 0.2s background-color ease-in-out;
    &:hover {
      background-color: var(--dark-light-orange);
    }
  }
  @media (max-width: 450px) {
    
   
    gap: 10px;

    button {
      width: 100%;
      min-width: unset;
      padding: 8px 0;
      font-size: var(--font-size14);
    }
  }
}
.price {
  font-size: var(--font-size20);
  font-weight: 600;

  @media (max-width: 1430px) {
    font-size: var(--font-size16);
  }
}
