.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  h2 {
    font-family: var(--main-font);
    font-size: var(--font-size36);
    padding: 32px 0;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 38px;
  grid-row-gap: 60px;
  justify-content: center;
}
