.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;

  .title {
    width: 100%;
    h2 {
      font-size: var(--font-size36);
      padding: 32px 16px;
    }
  }

  @media (max-width: 450px) {
    padding-bottom: 0;

    .title {
      h2 {
        font-size: var(--font-size24);
        padding: 20px 16px;
      }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 16px;
      grid-row-gap: 0;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 38px;
  grid-row-gap: 60px;

  @media (max-width: 1200px) {
    grid-column-gap: 20px;
  }
}
