.content {
  display: flex;
  height: 720px;
  position: relative;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  .select_half {
    padding: 20px;
    width: 490px;
    overflow-y: scroll;
    .title {
      margin: 20px 12px 10px;
      font-size: var(--font-size26);
    }

    .pizza_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .pizza_card {
      text-align: center;
      cursor: pointer;
      margin-bottom: 12px;
      border: none;
      border-radius: 8px;

      .pizza_img {
        width: 138px;
        height: 138px;

        object-fit: contain;
        transition: scale 0.2s ease;
        &:hover {
          scale: 0.97;
        }
      }

      .pizza_title {
        margin-top: 4px;
        font-weight: 400;
        font-size: var(--font-size16);
      }

      .pizza_price {
        color: var(--light-dark-gray);
        line-height: 18px;
        font-size: var(--font-size16);
      }
    }
  }

  .conten__info_wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 15px;

    .content_info {
      display: flex;
      flex-direction: column;

      .pizza_svg_top {
        width: 256px;
        height: 256px;
        width: 100%;
      }

      .pizza_info {
        .pizza_label_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 8px;
          padding: 12px;
          box-shadow: rgba(6, 5, 50, 0.24) 0px 1px 2px;
          border-radius: 16px;

          .pizza_label {
            font-size: var(--font-size16);
            color: var(--dark-gray);
            width: 60%;
          }
          .pizza_svg {
            width: 68px;
            height: 68px;
            margin-right: 10px;
          }
        }
      }

      .sizeGroup {
        bottom: 0;

        .sizeLabel {
          font-size: var(--font-size12);

          height: 32px;
          justify-content: center;
          display: flex;
          align-items: center;
          border-radius: 9999px;
          background-color: var(--light-gray-2);
        }
        .thicknessGroup {
          margin: 8px 0;
          display: flex;
          position: relative;
          height: 32px;
          flex-shrink: 0;
          border-radius: 9999px;
          background-color: var(--light-gray-2);
          overflow: hidden;
          font-size: 12px;
          line-height: 32px;
          min-height: 32px;

          .wrapper_option {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .selected {
            position: absolute;

            top: 50%;
            left: 0;

            width: 50%;
            height: 90%;
            background-color: white;
            border-radius: 9999px;
            box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
            transition: transform 0.3s ease, width 0.3s ease;
            z-index: 1;
            transform: translate(0, -50%);
          }

          input {
            display: none;
          }

          .thicknessOption {
            flex: 1;
            text-align: center;
            z-index: 2;
            cursor: pointer;
            position: relative;
            user-select: none;
          }
        }
      }
    }
  }
}
