.content {
  display: flex;
  width: 100%;
  position: relative;

  overflow: hidden;

  .select_half {
    padding: 20px;

    overflow-y: scroll;
    .title {
      margin: 20px 12px 10px;
      font-size: var(--font-size26);
    }

    .pizza_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
    }

    .pizza_card {
      text-align: center;
      cursor: pointer;
      width: 138px;

      overflow: hidden;

      .selected {
        border: 1px solid var(--color-orange);
        border-radius: 16px;
        scale: 0.9;
      }

      .pizza_img_wrapper {
        overflow: hidden;
        width: 138px;
        height: 138px;
        padding: 5px 0 0 5px;

        transition: scale 0.2s ease;

        &.left-selected {
          clip-path: inset(0 50% 0 0);
          transition: clip-path 0.2s ease;
        }

        &.right-selected {
          clip-path: inset(0 0 0 50%);
          transition: clip-path 0.2s ease;
        }
      }

      .pizza_title {
        margin-top: 4px;
        font-weight: 400;
        font-size: var(--font-size16);
      }

      .pizza_price {
        color: var(--light-dark-gray);
        line-height: 18px;
        font-size: var(--font-size16);
      }
    }
  }

  .content__info_wrapper {
    display: flex;
    flex-direction: column;

    width: 410px;
    padding: 15px;

    .content_info {
      display: flex;
      flex-direction: column;

      .top_image_wrapper {
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;

        .left_image {
          position: absolute;

          mask-image: linear-gradient(to right, black 48%, transparent 48%);
          -webkit-mask-image: linear-gradient(
            to right,
            black 48%,
            transparent 48%
          );
        }

        .right_image {
          position: absolute;

          mask-image: linear-gradient(to right, transparent 48%, black 48%);
          -webkit-mask-image: linear-gradient(
            to right,
            transparent 48%,
            black 48%
          );
        }

        .pizza_svg_top {
          width: 256px;
          height: 256px;
          width: 100%;
        }
      }

      .pizza_info {
        .pizza_label_wrapper {
          display: flex;
          align-items: center;
          position: relative;

          margin-top: 8px;
          padding: 12px;
          box-shadow: rgba(6, 5, 50, 0.24) 0px 1px 2px;
          border-radius: 16px;

          .image_wrapper {
            width: 68px;
          }
          .left_image {
            position: absolute;
            left: 10px;
            mask-image: linear-gradient(to right, black 50%, transparent 50%);
            -webkit-mask-image: linear-gradient(
              to right,
              black 50%,
              transparent 50%
            );
          }
          .right_image {
            position: absolute;
            left: 10px;
            mask-image: linear-gradient(to left black 50%, transparent 50%);
            -webkit-mask-image: linear-gradient(
              to left,
              black 50%,
              transparent 10%
            );
          }

          .pizza_info {
            display: flex;
            flex-direction: column;
            width: 220px;
          }
          .pizza_title {
            margin-bottom: 4px;
            font-size: var(--font-size16);
          }
          .pizza_label {
            font-size: var(--font-size16);
            color: var(--dark-gray);
          }
          .ingredients_label {
            font-size: var(--font-size12);
            color: var(--dark-gray);
          }
          .pizza_svg {
            width: 68px;
            height: 68px;
            margin-right: 10px;
          }
          .svg_faded {
            width: 68px;
            height: 68px;
            opacity: 0.4;
          }
        }
      }
    }
    .pizza_size_wrapper {
      .sizeGroup {
        bottom: 0;

        .sizeLabel {
          font-size: var(--font-size12);

          height: 32px;
          justify-content: center;
          display: flex;
          align-items: center;
          border-radius: 9999px;
          background-color: var(--light-gray-2);
        }
        .thicknessGroup {
          margin: 8px 0;
          display: flex;
          position: relative;
          height: 32px;
          flex-shrink: 0;
          border-radius: 9999px;
          background-color: var(--light-gray-2);
          overflow: hidden;
          font-size: 12px;
          line-height: 32px;
          min-height: 32px;

          .wrapper_option {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .selected {
            position: absolute;
            top: 50%;
            left: 0;
            width: 50%;
            height: 90%;
            background-color: white;
            border-radius: 9999px;
            box-shadow: rgba(6, 5, 50, 0.19) 0px 6px 20px;
            transition: transform 0.3s ease, width 0.3s ease;
            z-index: 1;
            transform: translate(0, -50%);
          }

          input {
            display: none;
          }

          .thicknessOption {
            flex: 1;
            text-align: center;
            z-index: 2;
            cursor: pointer;
            position: relative;
            user-select: none;
          }
        }
      }
    }
  }
  @keyframes slideUpFade {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .add_to_cart {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;

    .choose_notice {
      text-align: center;
      position: absolute;
      bottom: -15px;
      animation: slideUpFade 0.3s ease forwards;

      &::before {
        content: "▲";
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
