@font-face {
  font-family: "dodo";
  src: url("/fonts/dodo-rounded.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
button {
  border: none;
  cursor: pointer;
}
body {
  width: 100%;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
a {
  color: black;
  text-decoration: none;
}

:root {
  --color-orange: rgb(255, 105, 0);
  --color-dark-orange: rgb(209, 87, 0);
  --color-light-orange: rgb(255, 240, 230);
  --dark-light-orange: rgb(255, 210, 179);
  --white: #ffff;
  --light-gray: rgb(243, 243, 247);
  --dark-gray: #5c6370;
  --light-gray: #f3f3f7;
  --light-dark-gray: #73798C;
  --color-black: #181818;

  --main-font: "dodo", sans-serif;

  --font-size12: 12px;
  --font-size14: 14px;
  --font-size15: 15px;
  --font-size16: 16px;
  --font-size18: 18px;
  --font-size19: 19px;
  --font-size20: 20px;
  --font-size24: 24px;
  --font-size31: 31px;
  --font-size32: 32px;
  --font-size36: 36px;
  --font-size52: 52px;

  --font-wight: 700;

  --line-height: 24px;

  --border-radius: 20px;
}
