.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;

  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  &.blur-active {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7); // опционально
  }

  button {
    align-self: center;
    height: auto;
    padding: 8px 20px;
    color: var(--white);
    font-size: var(--font-size16);
    line-height: 24px;
    border-radius: 20px;
    background-color: var(--color-orange);
    transition: 0.2s background ease-in-out;
    &:hover {
      background-color: var(--color-dark-orange);
    }
  }

  .cartButton {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;

    border: none;
    cursor: pointer;

    font-size: 16px;
  }
}
.logo {
  display: none;
  left: -50px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  position: relative;

  .popup {
    position: absolute;
    z-index: 9999;
    right: 10px;
    top: 20px;
  }
}
.categoriesWrapper {
  display: flex;
  font-weight: 700;
  align-items: center;
  gap: 20px;
  ul {
    display: flex;
 

    gap: 20px;
    font-size: var(--font-size14);
    li {
      padding: 22px 0;
 
    }
    .active {
      color: var(--color-dark-orange);
    }
    a {
      display: flex;
      transition: 0.2s color ease-in-out;
      &:hover {
        color: var(--color-orange);
      }
    }
  }
}

@media (max-width: 450px) {
  .container {
    height: 56px;
    justify-content: flex-start;
    overflow: auto;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    &.blur-active {
      backdrop-filter: blur(5px);
      background-color: var(--white); // опционально
    }

    .categoryButton {
      padding: 0 16px;
      color: var(--dark-gray);
      margin: 4px;
      line-height: 32px;
      font-size: var(--font-size14);
      border-radius: 16px;
      background-color: var(--light-gray-2);
    }
    .active {
      color: var(--color-dark-orange);
      background-color: var(--color-light-orange);
    }
    .categoriesWrapper {
      font-weight: 600;
      ul {
        gap: 0;
      }
      li {
        padding: 0;
      }
    }
  }
}
