.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: var(--main-font);
  font-weight: var(--font-wight);
  display: flex;
  flex-direction: column;

  header {

    display: flex;
    justify-content: space-between;
    padding: 24px 0 16px 0;
  }
}
.headerLeft {
  display: flex;
  gap: 40px;
}
.sloganLine1 {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size12);

  padding-left: 50px;
  span {
    color: var(--color-orange);
  }
}
.deliveryInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
}

.coinWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 5px;

  .dodoCoinIcon {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .dodoCoinLink {
    transition: color 0.2s ease-in-out;
  }

  &:hover {
    .dodoCoinIcon {
      transform: translateY(-5px);
      color: var(--color-orange);
    }

    .dodoCoinLink {
      color: var(--color-orange);
    }
  }
}
.headerRight {
  display: flex;
  align-items: center;
  font-size: var(--font-size14);
  gap: 50px;
  button {
    padding: 8px 16px;
    border-radius: 15px;
    font-weight: var(--font-wight);
    cursor: pointer;
    border: none;
    background-color: var(--light-gray);
  }
}

.region {
  font-size: var(--font-size18);

  span {
    color: var(--color-orange);
  }
}
