.cartBlur {
  filter: brightness(0.6);
}

.cart {
  z-index: 9995;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  position: static;
  background-color: var(--light-gray);
  height: 100vh;
  right: 0;
  @media (min-width: 450px) {
    position: fixed;
    width: 430px;
  }
  .closeButton {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10000;

    .svgIcon {
      width: 24px;
      height: 24px;
      transition: transform 0.3s ease;
      color: var(--white);
    }

    &:hover .svgIcon {
      transform: rotate(180deg);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    .countWrapper {
      padding: 0 16px;
      background-color: var(--white);
      .item_count {
        font-size: var(--font-size24);
        padding: 24px 0 4px 0;
      }

      .minDelivery {
        font-size: var(--font-size14);
        color: var(--dark-gray);
        height: 20px;
      }
    }

    .itemCart {
      background-color: var(--white);
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 12px 16px;
      margin-bottom: 8px;
      position: relative;

      .half_pizza_img {
        width: 64px;
        height: 64px;
        margin-right: 16px;
        position: relative;
        overflow: hidden;
      }
      .leftImage {
        position: absolute;
        clip-path: inset(0 50% 0 0);
      }
      .rightImage {
        position: absolute;
        clip-path: inset(0 0 0 50%);
      }
      .itemTop {
        display: flex;
        border-bottom: 1px solid #ccc;
        padding-bottom: 12px;

        .itemInfoWrapper {
          .comboItem {
            padding-bottom: 8px;
            .itemName {
              font-size: var(--font-size12);
              font-weight: 400;
              color: #000;
            }
            .extras {
              font-size: var(--font-size12);
              text-transform: lowercase;
              color: var(--dark-gray);
            }
          }
          .itemDetails {
            font-size: var(--font-size12);
            color: var(--dark-gray);
            text-transform: lowercase;
          }
          .itemName {
            font-weight: 700;
            font-size: var(--font-size16);
            margin-bottom: 5px;
          }

          .itemSize {
            font-size: var(--font-size12);
            color: var(--dark-gray);
          }
        }
        .itemImage {
          margin-right: 16px;
        }

        .itemDeleteButton {
          background-color: transparent;
          position: absolute;
          height: fit-content;
          right: 20px;

          .svgIcon {
            width: 10px;
            height: 10px;
          }
        }
      }
      .itemBotton {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 8px 0;

        .price {
          font-size: var(--font-size16);
          font-weight: 700;
        }
        .quantityControls {
          display: flex;
          background-color: var(--light-gray);
          height: 32px;
          width: 96px;
          justify-content: space-between;
          align-items: center;

          border-radius: 15px;

          .quantity {
            color: var(--dark-gray);
          }
          button {
            background-color: transparent;
            padding: 0 8px;
          }
        }
      }
    }

    .addToOrder {
      display: flex;
      flex-direction: column;

      .title {
        padding: 16px 16px 0 16px;
        font-size: var(--font-size18);
        font-weight: 400;
      }

      .sauces_preview {
        display: flex;
        flex-direction: column;
        padding: 4px;
        margin: 14px 16px 26px 16px;
        border-radius: 10px;
        background-color: var(--white);
        width: fit-content;
        box-shadow: rgba(6, 5, 50, 0.1) 0px 6px 20px;
        text-align: center;

        .sauces_text {
          font-size: var(--font-size14);
          padding-bottom: 10px;
        }
      }
    }
  }
  .toOrder {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 0px -1px 5px rgba(6, 5, 10, 0.1);
    z-index: 2;
    padding: 16px 24px;
    .item_count {
      font-size: var(--font-size12);
      justify-content: space-between;
      display: flex;
      font-weight: 600;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid var(--light-dark-gray);
    }
    .totalPrice {
      display: flex;
      justify-content: space-between;
      font-size: var(--font-size16); /* или другой нужный размер */
      padding: 8px 0;
      font-weight: 600;
    }

    .toOrderButton {
      padding: 12px 16px;
      background-color: var(--color-orange);
      font-size: var(--font-size16);
      font-family: var(--main-font);
      color: var(--white);
      border-radius: 9999px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--color-dark-orange);
      }
      .arrow {
        position: absolute;
        right: 15px;

        rotate: 180deg;
      }
    }
  }
}
