.arrow {
  position: sticky;
  z-index: 10;
  top: 16px;
  left: 16px;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  padding: 8px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  color: #303030;
}
