.container {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 768px;

  @media (max-width: 450px) {
    flex-direction: column;
    padding: 52px 0 0 0;
    overflow: auto;
    align-items: center;
    max-height: fit-content;
  }

  .right_section {
    display: flex;
    flex-direction: column; /* если хочешь вертикально */
    align-items: stretch; /* чтобы занимали ровно ширину */
    position: relative;
  }

  .image_combo {
    margin: 22px 0 0 22px;
    width: 550px;
    position: relative;

    @media (max-width: 450px) {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
      .image {
        width: 343px;
        height: 343px;
      }
    }
    .extras_overlay {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 20px;
      z-index: 2;
      background-color: var(--white);

      .extras_content_scrollable {
        flex: 1;
        overflow-y: auto;
        height: 100vh;
        padding-bottom: 120px;
      }

      .extras_buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--white);
        padding: 24px 0;
        border-top: 1px solid #eee;
        display: flex;
        gap: 20px;
        z-index: 3;

        .save_button,
        .reset_button {
          padding: 12px 24px;
          font-size: var(--font-size16);
          border-radius: 9999px;
          min-width: 170px;
        }
        .reset_button {
          background-color: var(--light-gray);
        }
        .save_button {
          background-color: var(--color-orange);
          color: var(--white);
          transition: background-color 0.2s ease-in-out;

          &:hover {
            background-color: var(--color-dark-orange);
          }
        }
      }

      h2 {
        font-size: var(--font-size32);
      }
      .extras_header {
        display: flex;
        gap: 20px;
        align-items: center;
      }
      .back_button {
        background: white;
        border: none;
        box-shadow: rgba(6, 5, 50, 0.16) 0px 2px 16px;

        border-radius: 50%;
        padding: 8px;
        align-items: center;
        justify-content: center;
        display: flex;
        .back_icon {
          width: 28px;
          height: 28px;
        }
      }
    }
    .pizza_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .pizza_option {
        margin: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        transition: 0.2s ease-in-out;
        border: 1px solid transparent;
        border-radius: 16px;

        p {
          margin-bottom: 10px;
          font-size: var(--font-size16);
          text-align: center;
          align-items: center;
          padding: 0 5px;
        }
        img {
          margin: 8px 0 0 8px;
          transition: scale 0.1s ease-in-out;
        }

        &:hover {
          cursor: pointer;
          img {
            scale: 0.95;
          }
        }
      }
      .pissa_active {
        border: 1px solid var(--color-dark-orange);
        border-radius: 16px;

        img {
          scale: 0.95;
        }
      }
    }
  }
}
