.select_half {
  padding: 20px;

  overflow-y: scroll;

  @media (max-width: 450px) {
    padding: 0;
  }
  .title {
    margin: 20px 12px 10px;
    font-size: var(--font-size26);
    @media (max-width: 450px) {
      font-size: var(--font-size20);

      text-align: center;
    }
  }

  .pizza_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    @media (max-width: 450px) {
      gap: 0px;
    }
  }

  .pizza_card {
    text-align: center;
    cursor: pointer;
    width: 138px;

    overflow: hidden;

    @media (max-width: 450px) {
      padding-bottom: 20px;
    }
    .selected {
      border: 1px solid var(--color-orange);
      border-radius: 16px;
      scale: 0.9;
      @media (max-width: 450px) {
        scale: 1;
      }
    }

    .pizza_img_wrapper {
      overflow: hidden;
      width: 138px;
      height: 138px;

      transition: scale 0.2s ease;

      @media (max-width: 450px) {
        border: 1px solid var(--light-dark-gray-2);
        width: fit-content;
        height: fit-content;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        .pizza_img {
          width: 121px;
          height: 121px;
        }
      }

      .pizza_img {
        padding: 5px 0 0 5px;
      }
      &.left-selected {
        clip-path: inset(0 50% 0 0);
        transition: clip-path 0.2s ease;
      }

      &.right-selected {
        clip-path: inset(0 0 0 50%);
        transition: clip-path 0.2s ease;
      }
    }

    .pizza_title {
      margin-top: 4px;
      font-weight: 400;
      font-size: var(--font-size16);
    }

    .pizza_price {
      color: var(--light-dark-gray);
      line-height: 18px;
      font-size: var(--font-size16);
    }
  }
}
.selected {
  border: 1px solid var(--color-orange);
  border-radius: 16px;
  transform: scale(0.9);
  width: fit-content;
  @media (max-width: 450px) {
    transform: scale(1);
  }
}
