.select_half {
  padding: 20px;
  position: relative;
  overflow-y: scroll;

  @media (max-width: 450px) {
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin: 20px 12px 10px;
    font-size: var(--font-size26);
    @media (max-width: 450px) {
      font-size: var(--font-size20);
      width: 60%;
      text-align: center;
      font-weight: normal;

      margin: 8px 0;
    }
  }

  .pizza_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    @media (max-width: 450px) {
      gap: 0px;
    }
  }

  .pizza_card {
    text-align: center;
    cursor: pointer;
    width: 138px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media (max-width: 450px) {
      padding-bottom: 20px;
      width: 100%;
    }

    .pizza_img_wrapper {
      overflow: hidden;
      width: 138px;
      height: 138px;
      border: 1px solid var(--light-dark-gray-2);
      border-radius: 16px;
      transition: scale 0.2s ease;

      @media (max-width: 450px) {
        margin: 0 8px;
        padding: 5px;
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        .pizza_img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &.selected {
        border-color: var(--color-orange);
        transform: scale(0.9);

        @media (max-width: 450px) {
          transform: scale(1);
          &::after {
            content: "×";
            position: absolute;
            top: 0px;
            right: 6px;
            font-size: 26px;
            color: var(--color-orange);
            pointer-events: none;
          }
        }
      }
    }

    .pizza_title {
      margin-top: 5px;
      font-weight: 400;
      font-size: var(--font-size16);

      @media (max-width: 450px) {
        font-size: var(--font-size12);
      }
    }

    .pizza_price {
      color: var(--light-dark-gray);
      line-height: 18px;
      font-size: var(--font-size16);

      @media (max-width: 450px) {
        font-size: var(--font-size12);
      }
    }
  }
  .combine_wrapper {
    position: fixed;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    bottom: 0;
    border-top: 1px solid var(--light-dark-gray-2);
  }
  .left-selected {
    clip-path: inset(0 50% 0 0);
    transition: clip-path 0.2s ease;
  }

  .right-selected {
    clip-path: inset(0 0 0 50%);
    transition: clip-path 0.2s ease;
  }
}
